<% @sessions.each do |session| %>
  <div class="session-detail">
    <p class="session-title">Class Title: <%= session.title %></p>
    <p class="session-description">Description: <%= session.description %></p>
    <p class="session-date">Date: <%= format_day(session.date) %> <%= day_of_week(session.date) %></p>
    <p class="session-time">From: <%= format_hour(session.start_time) %> to <%= format_hour(session.end_time) %></p>

    <div class="session-actions">
      <%= link_to "Delete this class", course_session_path(session.course, session), class: "btn-delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit the information for this class", edit_course_session_path(session.course, session), class: "btn-edit" %>
    </div>
  </div>
<% end %>

<div class="add-session">
  <%= link_to "Add new a new class to this course", new_course_session_path, class: "btn-add-session" %>
</div>
