<h1>Calendar</h1>

<%= month_calendar do |date| %>
  <%= date.day %>

  <% @sessions.select { |session| session.start_time.to_date == date }.each do |session| %>
    <div>
      <%= link_to session.title, details_session_path(session) %> <!-- Link to details action -->
      <%= session.start_time.strftime("%I:%M %p") %> - <%= session.end_time.strftime("%I:%M %p") %>
    </div>
  <% end %>
<% end %>
