<div class="title-container container">
  <h1>My Calendar</h1>
</div>

<%= month_calendar do |date| %>
  <%= date.day %>
  <% unless @all_sessions.empty? %>
    <% @all_sessions.select { |session| session.start_time.to_date == date }.each do |session| %>
      <div class="session-item">
        <!-- Link trigger modal -->
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_<%= session.id %>" class="session-title">
          <%= session.title %>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="modal_<%= session.id %>" tabindex="-1" aria-labelledby="exampleModalLabel_<%= session.id %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title fs-6 text-center w-100" id="exampleModalLabel_<%= session.id %>">Class Title: <%= session.title %></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Description: <%= session.description %></p>
                <p>Date: <%= format_day(session.date) %> <%= day_of_week(session.date) %></p>
                <p>From: <%= format_hour(session.start_time) %> to <%= format_hour(session.end_time) %></p>
              </div>
              <div class="modal-footer">
                <div class="d-flex justify-content-between w-100">
                  <% if session.course.user == current_user %>
                    <%= button_to "Edit", edit_course_session_path(session.course, session), method: :get, class: "btn", style: "background-color: #1E293B; color: white; "%>
                    <%= button_to "Delete", course_session_path(session.course, session), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <span class="session-time">
          <%= session.start_time.strftime("%H:%M") %> - <%= session.end_time.strftime("%H:%M") %>
        </span>
      </div>
    <% end %>
  <% end %>
<% end %>
