<div class="container">
  <p>Course name: <%= @course.title %></p>
  <p>Price: <%= @course.price %></p>
  <p>Teacher: <%= @course %></p>
  <p>Course description: <%= @course.description %></p>
  <p>Category: <%= @course.category %></p>
  <p>Size: <%= @course.size %></p>
  <p>Session's details:
    <% @course.sessions.each do |session| %>
      <div>
        <p>Session start_time: <%= session.start_time %></p>
        <p>Session end_time: <%= session.end_time %></p>
      </div>
    <% end %>
  </p>

  </div>
