<div>
  <%# IF both @courses and @bookings are empty %>
  <% if @courses.empty? && @bookings.empty? %>
    <div class="choice-section">
      <h1>What would you like to do?</h1>

      <div class="choice-buttons">
        <%= link_to "Find Courses", courses_category_path, class: "btn btn-primary" %>
        <%= link_to "Become a Teacher", new_course_path, class: "btn btn-secondary become-teacher-button" %>
      </div>
    </div>

  <%# If there are bookings but you dont teach any courses %>
  <% elsif @courses.empty? && @bookings.any? %>
    <h1 class="student-space">Student Space</h1>
    <div class="card-container">
      <% @bookings.each do |booking| %>
        <div class="card">
          <%= link_to course_path(booking.course), class: "card-link" do %>
            <% if booking.course.photo.attached? %>
              <%= cl_image_tag booking.course.photo.key, class: "card-img-top" %>
            <% else %>
              <%= image_tag booking.course.image_url, class: "card-img-top", alt: booking.course.title %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= booking.course.title %></h5>
            </div>
          <% end %>
          <% if booking.course.end_date <= Date.today %>
            <%= link_to 'Add a Review', new_course_review_path(booking.course), class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>
    </div>

  <%# If there are courses but no bookings %>
  <% elsif @bookings.empty? %>
    <%= link_to "Wanna upskill?", root_path, class: "not-enrolled-message" %>

  <%# If there are bookings but you dont teach any courses %>
  <% else %>
    <h1 class="student-space">Student Space</h1>
    <div data-controller="checkbox">

      <div class="d-flex flex-column flex-md-row justify-content-center mt-3 mb-3">
        <div class="d-flex align-items-center mb-2 mb-md-0">
          <input data-checkbox-target="completed" data-action="click->checkbox#connect" type="checkbox" id="status1" name="status1" value="completed" class="me-2">
          <label for="status1" class="me-md-5"> Completed</label>
        </div>
        <div class="d-flex align-items-center">
          <input data-checkbox-target="incomplete" data-action="click->checkbox#connect" type="checkbox" id="status2" name="status2" value="incomplete" class="me-2">
          <label for="status2"> In Progress</label>
        </div>
      </div>



      <div class="card-container">
        <% @bookings.each do |booking| %>
          <div class="card" data-checkbox-target="course" end-date=<%=booking.course.end_date%>>
            <%= link_to course_path(booking.course), class: "card-link" do %>
              <% if booking.course.photo.attached? %>
                <%= cl_image_tag booking.course.photo.key, class: "card-img-top" %>
              <% else %>
                <%= image_tag booking.course.image_url, class: "card-img-top", alt: booking.course.title %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= booking.course.title %></h5>
              </div>
            <% end %>
            <% if booking.course.end_date <= Date.today %>
              <%= link_to 'Add a Review', new_course_review_path(booking.course), class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


  <%# If there are both bookings and courses %>

  <% end %>

  <%# Teacher's lounge %>
  <% unless @courses.empty? %>
    <h1 class="teachers-lounge">Teacher's Lounge</h1>
    <div class="card-container">
      <% @courses.each do |course| %>
        <div class="card">
          <%= link_to course_path(course), class: "card-link" do %>
            <%= image_tag course.image_url, class: "card-img-top", alt: course.title %>
            <div class="card-body">
              <h5 class="card-title"><%= course.title %></h5>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="card">
        <%= link_to new_course_path, class: "card-link" do %>
          <div class="card-body text-center add-new-course">
            <i class="fa-solid fa-plus fa-2x"></i>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
