<%# <div class="image-container"> %>
  <%#= image_tag "https://images.unsplash.com/photo-1483389127117-b6a2102724ae?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
# ", class:"main-photo-home-page" %>
<%# </div> %>

<!-- home banner carousel -->
<%= render "shared/home_banner_carousel" %>

<!-- Course of the year -->
<h2 class= "courses_of_the_year kanit-regular">What's hot 🔥 </h2>
<% if @courses_of_the_year.any? %>
  <div class="carousel-container mt-4">
    <%= render "shared/course_of_the_year_carousel" %>
  </div>
<% end %>

<!-- Top performing teachers -->
<div class="mt-3">
  <h2 class="star_teachers kanit-regular my-4">Top performing teachers </h2>
  <% if @courses_of_the_year.any? %>
    <ul class="teacher-list">
      <% @courses_of_the_year.each do |course| %>
        <li class="teacher-item">
          <div class="teacher-info">
            <%= image_tag(course.teacher_image_url, alt: "Teacher Photo", class: "teacher-photo") if course.teacher_image_url.present? %>
            <div class="teacher-details">
              <h3 class="teacher-name"><%= "#{course.teacher_first_name} #{course.teacher_last_name}" %></h3>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<!-- What our students say -->
<h2 class="what_students_say kanit-regular">What our students say</h2>
<% if @five_star_reviews.any? %>
  <div id="reviewsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @five_star_reviews.each_with_index do |review, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="d-block w-100 review-item text-center">
            <p class="review-text"><%= review.content %></p>
            <p class="review-author"><strong><%= review.user.username %></strong></p>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#reviewsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#reviewsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>
