
  <h3 class="mt-3 text-center"> My Profile </h3>
  <div class="row profile-center" style="margin: auto;">
    <div class="text-end mb-2">
      <%= button_to "Edit profile", edit_user_registration_path, method: :get, class: "edit-button" %>
    </div>
    <div class="text-start border profile-box">
      <div class="d-flex justify-content-between">
        <div>
          <div class="mt-3">
            <strong>First name:</strong>
            <%= current_user.first_name %> <br>
          </div>
          <div class="mt-3">
            <strong>Last name:</strong>
            <%= current_user.last_name %> <br>
          </div>
          <div class="mt-3">
            <strong> Username:</strong>
            <%= current_user.username %> <br>
          </div>
          <div class="mt-3">
            <strong> Email address: </strong>
            <%= current_user.email %> <br>
          </div>
        </div>
        <div class="mt-2">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "profile", alt: "profile picture" %>
          <% elsif current_user.image_url.present? %>
            <%= image_tag current_user.image_url, class: "profile", alt: "profile picture" %>
          <% else %>
            <div class="profile-card">
              <%= current_user.first_name[0] + current_user.last_name[0] %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="my-3">
        <strong> Self-introduction: </strong>
        <%= current_user.self_introduction %>
      </div>
    </div>
  </div>
