<h2 class="login-heading">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: "form-control" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: "form-control" } %>
    <%= f.input :remember_me, as: :boolean, input_html: { class: "form-check-input" } if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
