<div class="container">
  <table class="table">
  <tbody>
    <tr>
      <th scope="row" class="category"><%=link_to "Technology", courses_category_index_path("technology")%></th>
    </tr>
    <tr>
      <th scope="row" class="category"><%=link_to "Education", courses_category_index_path("education")%></th>
    </tr>
    <tr>
      <th scope="row" class="category"><%=link_to "Cooking", courses_category_index_path("cooking")%></th>
    </tr>
    <tr>
      <th scope="row" class="category"><%=link_to "Gardening", courses_category_index_path("gardening")%></th>
    </tr>
    <tr>
      <th scope="row" class="category"><%=link_to "Sports", courses_category_index_path("sports")%></th>
    </tr>
    <tr>
      <th scope="row" class="category"><%=link_to "Others", courses_category_index_path("others")%></th>
    </tr>
  </tbody>
</table>

</div>
