<div data-controller="course-format capacity dynamic-fields" class="container">
  <h2 class="login-heading">Edit Your Course</h2>

  <%= simple_form_for(@course, html: { class: "login-form custom-form-width text-start", multipart: true }) do |f| %>
    <div class="form-inputs">
      <%= f.input :title, input_html: { class: "form-control" }, placeholder: "e.g. Learn Photoshop CS6 from Scratch" %>
      <%= f.input :description, input_html: { class: "form-control large-text-field" }, placeholder: "e.g.Learn to make innovative web apps with Ruby on Rails and unleash your creativity" %>

      <div data-controller="datepicker">
        <%= f.input :start_date,
                    as: :string,
                    input_html: { data: { datepicker_target: "startDate"},
                    class: "form-control",
                    placeholder: "Select a start date"
                    }%>
        <%= f.input :end_date,
                    as: :string,
                    input_html: { data: { datepicker_target: "endDate"},
                    class: "form-control",
                    placeholder: "Select an end date"
                    } %>
      </div>

      <%= f.input :size, collection: %w[group private], input_html: {
        class: "form-control",
        data: {
          capacity_target: "size",
          action: "change->capacity#toggleCapacityField"
        }},
        prompt: "Is it a group class or private class?"
       %>

      <div class="d-none" data-capacity-target="capacity">
        <%= f.input :capacity, input_html: { class: "form-control" } %>
      </div>

      <%= label_tag "Learning topics", "Learning topics*", class: "form-label" %>
        <div id="leaning-topics-container" data-dynamic-fields-target="container">
        <% @course.learning_topics.each do |topic| %>
          <%= text_field_tag "learning_topic[content][]", topic.content, class: "form-control" %>
        <% end %>
      </div>
      <button type="button" id="add-learning-topic" class="btn btn-primary mb-2" data-action="click->dynamic-fields#addField">+ Add more topics</button>

      <%= f.input :category, collection: %w[technology education cooking gardening sports others], input_html: { class: "form-control" }, prompt: "Choose a category" %>

      <%= f.input :price, input_html: { class: "form-control" } %>

      <%= f.input :format, collection: %w[online in-person],
        input_html: {
          class: "form-control",
          data: {
            course_format_target: "format",
            action: "change->course-format#togglelocationField"
          }
        }, prompt: "Is it an online course or a In-person course?" %>

      <div class="d-none" data-course-format-target="location">
        <%= f.input :location,
                    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
      </div>

      <%#= f.input :photo, input_html: { class: "form-control" }, label: "Course Photo" %>
      <%#= f.hidden_field :photo, value: @course.image_url %>
      <div class="form-group">
  <%= f.label :photo, "Course Photo" %>



  <%= f.input :photo,
              as: :file,
              input_html: { class: "form-control-file" },
              label: false %>
</div>

      <%= f.fields_for :user do |user_field| %>
        <%= user_field.input :self_introduction, input_html: { class: "form-control large-text-field" } %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
