<div data-controller="format">
  <%= simple_form_for(@course) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category, collection: %w[technology education cooking gardening sports others] %>
    <%= f.input :size, collection: %w[group private] %>
    <%= f.input :price %>
    <%#= f.input :what_will_students_learn_in_your_course %>

    <%= f.input :format, collection: %w[online in-person],
    input_html:
    { data:
      { format_target: "format",
        action: "change->format#togglelocationField" }
    }%>

    <div class="d-none" data-format-target="location">
      <%= f.input :location %>
    </div>

    <%= f.submit %>
  <% end %>
</div>
