<%= image_tag image_path("#{params[:category]}.jpeg"), class: "image-course-index" %>
<div class="image-overlay">
  <%= params[:category].capitalize %>
</div>
<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-sm-6 my-3">
      <%= form_with url: courses_category_index_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: " ðŸ” Search for course name or location"
        %>
        <%= submit_tag "Search", name: "", class: "d-none" %>
      <% end %>
    </div>
  </div>
  <% if @courses.any? %>
    <% @courses.each do |course| %>
      <% if course.end_date >= Date.today %>
        <div class="d-flex mb-3 border rounded-end rounded-start p-3 course-card">
          <div class="course-image me-3">
            <% if course.photo.attached? %>
              <%= cl_image_tag course.photo.key, class: "image-foreach-course" %>
            <% else %>
              <%= image_tag course.image_url, alt: course.title, class: "image-foreach-course" %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between flex-grow w-100 course-description-index-course">
            <div class="w-50">
              <%= truncate(course.title, length: 45, separator: ' ') %> <br>
              Description:
              <%= truncate(course.description, length: 32, separator: ' ') %> <br>
              Price: $ <%= course.price %>
            </div>
          <div class="align-self-end type-of-course">
            Type: <%= course.size.capitalize %> Class
          </div>
          <div class="align-self-end hover-black">
            <%= link_to "More details", course_path(course), class: "align-self-end text-decoration-none more-details-button "%>
          </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="text-center my-5">
      Sorry, no courses found.
    </div>
  <% end %>
</div>
