<div data-controller="format" class="container">
  <%= simple_form_for(@course) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category, collection: %w[technology education cooking gardening sports others] %>
    <%= f.input :size, collection: %w[group private] %>
    <%= f.input :price %>
    <%= label_tag "Learning topics", nil, class:"form-label" %>

    <% 5.times do |n|%>
      <%= text_field_tag "learning_topic[content][]", nil, class:"form-control" %>
    <% end %>

    <%= f.input :format, collection: %w[online in-person],
    input_html:
    { data:
      { format_target: "format",
        action: "change->format#togglelocationField" }
    }%>

    <div class="d-none" data-format-target="location">
      <%= f.input :location %>
    </div>
    <%= f.fields_for :user do |user_fields| %>
      <%= user_fields.input :self_introduction, placeholder: "About yourself..." %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
